<html>
  <head>
    {% block head %}
    <title>FSDD</title>
    <link rel="icon" href="{{url_for('static', filename='logo.png')}}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  </head>
  {% endblock %}
  </head>
  <body style="background-color: #EDEDED;">
    <nav class="navbar navbar-expand-lg navbar-dark bronx-science-green-bg">
      <a class="navbar-brand" href="index.html#"><img src="{{url_for('static', filename='logo.png')}}" width="25px"></a>
      <a class="navbar-brand our-lightest-green" href="index.html#">FSDD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item our-lightest-green">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item our-lightest-green">
            <a class="nav-link" href="/fresh">Fresh Foods</a>
          </li>
          <li class="nav-item our-lightest-green">
            <a class="nav-link" href="/deliver">Deliveries</a>
          </li>
          <li class="nav-item our-lightest-green">
            <a class="nav-link" href="/stock">Stock</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item our-lightest-green">
            <a class="nav-link">Account</a>
          </li>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
  </body>
</html>
