{% extends "base.html" %}
{% block body %}
{% if current_user.is_authenticated %}
<!-- display normal stuff -->
{% else %}
<br>
<!-- <h1 class="text-center">Please login</h1> -->
<div class="container text-center bronx-science-green-bg form-corners">
<h1 class="our-lightest-green">Fresh Deliveries</h1>
<div class="form our-lightest-green">
  <div class="form-group">
    <label for="storename">
      <p>Store Name</p>
    </label>
    <textarea class="form-control" id="storename" rows="1" name="Team #"></textarea>
  </div>
  <div class="form-group">
    <label for="productname">
      <p>Product Name</p>
    </label>
    <textarea class="form-control" id="productname" rows="1" name="Team #"></textarea>
  </div>
  <form>
    <div class="form-group">
      <label for="date">
        <p>Date</p>
      </label>
      <textarea class="form-control" id="date" rows="1" name="date"></textarea>
    </div>
    <div class="form-group">
      <label for="price">
        <p>Price</p>
      </label>
      <textarea class="form-control" id="price" rows="1" name="price"></textarea>
    </div>
    <div class="form-group">
      <label for="stock">
        <p>Stock</p>
      </label>
      <textarea class="form-control" id="stock" rows="1" name="stock"></textarea>
    </div>
    <br>
    <button class="submit btn btn-success btn-lg btn-block">Save</button>
    <br>
  </form>
</div>
<script src="https://www.gstatic.com/firebasejs/3.0.2/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="{{ url_for('static',filename='fresh.js') }}"></script>
{% endif %}
{% endblock %}
