{% extends "base.html" %}
{% block body %}
<br>
<div class="container text-center bronx-science-green-bg our-lightest-green form-corners">
  <br>
  <div class="a text-center our-halfway-green-bg form-corners">
    <h2>Helping you save on</h2>
    <h3>↓</h3>
    <img width="700px" src="{{ url_for('static',filename='produce.jpg') }}" class="form-corners" style=""></img>
    <br>
    <br>
  </div>
  <br>
</div>
<br>
<br>
<div class="container text-center bronx-science-green-bg our-lightest-green form-corners">
  <br>
  <div class="a text-center our-halfway-green-bg form-corners">
    <div class="b text-center">
      <h2>Why should business choose us?</h2>
      <p width="700px" style="font-size: 20px;">Grocery Stores in America throw away 13.3 pounds of food, or about a third of the food made. In order to be able to sell their stock instead of throwing it out, businesses can use GrocPro to notify consumers about food that is almost expired in order to allow customers to buy the food for a reduced price. This will allow more revenue to be made, and less stock to be wasted.</p>
    </div>
  </div>
  <br>
</div>
<br>
<br>
<div class="container text-center bronx-science-green-bg our-lightest-green form-corners">
  <br>
  <div class="a text-center our-halfway-green-bg form-corners">
    <div class="b text-center our-halfway-green-bg" >
      <h2>Why should customers choose us?</h2>
      <p width="700px" style="font-size: 20px;">Consumers on a budget would love GrocPro because they can save money by buying produce for a reduced price. Consumers looking for fresh produce are also able to find out when fresh produce has been delivered to the story to be able to get it.</p>
    </div>
  </div>
  <br>
</div>
<br>
<br>
{% endblock %}
