{% extends "base.html" %}
{% block body %}
{% if current_user.is_authenticated %}
<!-- display normal stuff -->
{% else %}
<br>
<!-- <h1 class="text-center">Please login</h1> -->
<div class="container text-center bronx-science-green-bg form-corners">
<h1 class="our-lightest-green">Location</h1>
<div class="form our-lightest-green">
  <div class="form-group">
    <label for="storename">
      <p>Store Name</p>
    </label>
    <textarea class="form-control" id="storename" rows="1" name="Team #"></textarea>
  </div>
  <form>
    <div class="form-group">
      <label for="Address">
        <p>Address</p>
      </label>
      <textarea class="form-control" id="Address" rows="1" name="Address"></textarea>
    </div>
    <div class="form-group">
      <label for="Latitude">
        <p>Latitude (Optional)</p>
      </label>
      <textarea class="form-control" id="Latitude" rows="1" name="Latitude"></textarea>
    </div>
    <div class="form-group">
      <label for="Longitude">
        <p>Longitude (Optional)</p>
      </label>
      <textarea class="form-control" id="Longitude" rows="1" name="Longitude"></textarea>
    </div>
    <br>
    <button class="submit btn btn-success btn-lg btn-block">Save</button>
    <br>
  </form>
</div>
<script src="https://www.gstatic.com/firebasejs/3.0.2/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="{{ url_for('static',filename='location.js') }}"></script>
{% endif %}
{% endblock %}
