@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: 'Raleway', sans-serif;
}
.bronx-science-green {
  color: #00674A !important;
}
.our-black {
  color: #1f2421 !important;
}
.our-light-green {
  color: #49A078 !important;
}
.our-lightest-green {
  color: #9CC5A1 !important;
}
.our-white{
  color: #DCE1DE !important;
}
.our-halfway-green {
  color: #258461 !important;
}
.bronx-science-green-bg {
  background-color: #00674A !important;
}
.our-black-bg {
  background-color: #1f2421 !important;
}
.our-light-green-bg {
  background-color: #49A078 !important;
}
.our-lightest-green-bg {
  background-color: #9CC5A1 !important;
}
.our-white-bg {
  background-color: #DCE1DE !important;
}
.our-halfway-green-bg {
  background-color: #258461 !important;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: #49A078 !important;
}
.form-corners {
    border-radius: 30px;
}
div.b {
    width: 700px;
    margin: 0 auto;
}
div.a {
    width: 800px;
    margin: 0 auto;
}
